.result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result__container {
    font-size: var(--size-4xl);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}