<!--login page in html, css-->

<section class="login">
  <div class="login__container container">
    <div class="login__logo">
      <h1 class="login__logo-title title">QuizQuest</h1>
    </div>
    <div class="login__header">
      <p class="login__header-subtitle">
        Welcome back! <br />
        Please login to your account.
      </p>
    </div>
    <div class="login__content">
      <form class="login__content-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            [formControl]="emailFormControl"
            placeholder="Ex. pat@example.com"
          />
          @if (emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
          } @if (emailFormControl.hasError('required')) {
          <mat-error>Email is required</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            [formControl]="passwordFormControl"
            placeholder=""
          />
          @if (passwordFormControl.hasError('password') &&
          !passwordFormControl.hasError('required')) {
          <mat-error>Please enter a valid password.</mat-error>
          } @if (passwordFormControl.hasError('required')) {
          <mat-error>Password is required</mat-error>
          }
        </mat-form-field>
      </form>
    </div>
    <div class="login__actions">
      <button
        type="submit"
        class="login__actions-btn login__actions-btn--login active-btn"
        (click)="onSubmit()"
      >
        Login
      </button>
    </div>
    <div class="login__footer">
      <p class="login__footer-text">or login with</p>
      <div class="login__btns-wrapper">
        <button class="login__footer-btn login__footer-btn--google btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 488 512"
          >
            <path
              d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"
            />
          </svg>
        </button>
        <button class="login__footer-btn login__footer-btn--fb btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 320 512"
          >
            <path
              d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <img src="/undraw_secure-login_m11a.svg" alt="image" />
</section>
