<section class="auth">
  <div class="auth__container">
    <div class="auth__logo">
      <h1 class="auth__logo-title">QuizQuest</h1>
    </div>

    <!-- Login Form -->
    <ng-container *ngIf="isLogin(); else signupTemplate">
      <div class="auth__header">
        <p class="auth__subtitle">
          Welcome back! <br />
          Please login to your account.
        </p>
      </div>
      <form
        class="auth__form"
        [formGroup]="loginForm"
        (ngSubmit)="onLoginSubmit()"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
          />
          <mat-error *ngIf="loginForm.get('loginEmail')?.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="loginForm.get('loginEmail')?.hasError('email')"
            >Please enter a valid email</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" />
          <mat-error
            *ngIf="loginForm.get('loginPassword')?.hasError('required')"
            >Password is required</mat-error
          >
        </mat-form-field>

        <div class="auth__actions">
          <button
            type="submit"
            class="auth__btn btn"
            [ngClass]="{
              'btn--active': loginForm.valid,
              'btn--inactive': !loginForm.valid
            }"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>
      </form>
      <div class="auth__footer">
        <p>
          Don't have an account?
          <button class="auth__link" (click)="toggleIsLogin()">Sign up</button>
        </p>
      </div>
    </ng-container>

    <!-- Signup Form -->
    <ng-template #signupTemplate>
      <div class="auth__header">
        <p class="auth__subtitle">Sign up to get started!</p>
      </div>
      <form
        class="auth__form"
        [formGroup]="signupForm"
        (ngSubmit)="onSignupSubmit()"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
          />
          <mat-error *ngIf="signupForm.get('email')?.hasError('required')"
            >Email is required</mat-error
          >
          <mat-error *ngIf="signupForm.get('email')?.hasError('email')"
            >Please enter a valid email</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" />

          <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>

          <mat-error
            *ngIf="
              signupForm.get('password')?.hasError('minlength') &&
              !signupForm.get('password')?.hasError('required')
            "
          >
            Minimum 8 characters required.
          </mat-error>

          <mat-error
            *ngIf="
              signupForm.get('password')?.hasError('maxlength') &&
              !signupForm.get('password')?.hasError('required') &&
              !signupForm.get('password')?.hasError('minlength')
            "
          >
            Maximum 20 characters allowed.
          </mat-error>

          <mat-error
            *ngIf="
              signupForm.get('password')?.hasError('hasUpperCase') &&
              !signupForm.get('password')?.hasError('required') &&
              !signupForm.get('password')?.hasError('minlength') &&
              !signupForm.get('password')?.hasError('maxlength')
            "
          >
            Password must contain at least one uppercase letter.
          </mat-error>

          <mat-error
            *ngIf="
              signupForm.get('password')?.hasError('hasLowerCase') &&
              !signupForm.get('password')?.hasError('required') &&
              !signupForm.get('password')?.hasError('minlength') &&
              !signupForm.get('password')?.hasError('maxlength') &&
              !signupForm.get('password')?.hasError('hasUpperCase')
            "
          >
            Password must contain at least one lowercase letter.
          </mat-error>

          <mat-error
            *ngIf="
              signupForm.get('password')?.hasError('hasNumeric') &&
              !signupForm.get('password')?.hasError('required') &&
              !signupForm.get('password')?.hasError('minlength') &&
              !signupForm.get('password')?.hasError('maxlength') &&
              !signupForm.get('password')?.hasError('hasUpperCase') &&
              !signupForm.get('password')?.hasError('hasLowerCase')
            "
          >
            Password must contain at least one numeric character.
          </mat-error>

          <mat-error
            *ngIf="
              signupForm.get('password')?.hasError('hasSpecial') &&
              !signupForm.get('password')?.hasError('required') &&
              !signupForm.get('password')?.hasError('minlength') &&
              !signupForm.get('password')?.hasError('maxlength') &&
              !signupForm.get('password')?.hasError('hasUpperCase') &&
              !signupForm.get('password')?.hasError('hasLowerCase') &&
              !signupForm.get('password')?.hasError('hasNumeric')
            "
          >
            Password must contain at least one special character.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="confirmPassword" />
          <mat-error
            *ngIf="signupForm.get('confirmPassword')?.hasError('required')"
            >Password confirmation is required</mat-error
          >
          <mat-error
            *ngIf="
              signupForm.get('confirmPassword')?.hasError('passwordMismatch') &&
              !signupForm.get('confirmPassword')?.hasError('required')
            "
            >Passwords do not match</mat-error
          >
        </mat-form-field>

        <div class="auth__actions">
          <button
            type="submit"
            class="auth__btn btn"
            [ngClass]="{
              'btn--active': signupForm.valid,
              'btn--inactive': !signupForm.valid
            }"
            [disabled]="!signupForm.valid"
          >
            Sign Up
          </button>
        </div>
      </form>
      <div class="auth__footer">
        <p>
          Already have an account?
          <button class="auth__link" (click)="toggleIsLogin()">Log In</button>
        </p>
      </div>
    </ng-template>
  </div>

  <img
    src="/undraw_secure-login_m11a.svg"
    class="auth__image"
    alt="Login Illustration"
  />
</section>
