<section class="hero section">
  <div class="hero__content container">
    <div class="hero__text">
      <p class="hero__title">
        Learn <br />
        new concepts <br />
        for each question
      </p>
      <p class="hero__subtitle">
        We will help you prepare for exams and quizes
      </p>

      <div class="hero__actions">
        <button class="btn hero__btn-start" (click)="onStartSolving()">
          Start solving
        </button>
        <button class="btn hero__btn-load-more" (click)="onLearnMore()">
          Learn more
        </button>
      </div>
    </div>
    <div class="hero__img">
      <img src="/girl__hero.svg" alt="img" />
    </div>
  </div>
</section>
