<section class="topic-selection section">
  <div class="topic-selection__container container">
    <header class="topic-selection__header">
      <h1 class="topic-selection__title title">Choose Your Expertise Areas</h1>
      <p class="topic-selection__subtitle">
        Select up to 5 topics to personalize your quiz experience
        <span class="selected-count"
          >(<span data-selected-count>{{ this.selectedTopics.size }}</span
          >/{{ this.__selectedTopicsLimit__ }} selected)</span
        >
      </p>
    </header>

    <div class="topic-selection__main">
      <div class="topic-selection__chips-wrapper">
        @for (topic of topics; track topic) {
        <button
          class="topic-selection__chip"
          [ngClass]="{
            'topic-selection__chip--active': isTopicSelected(topic)
          }"
          (click)="toggleTopic(topic)"
        >
          <span class="chip-text">{{ topic }}</span>
        </button>
        }
      </div>

      <div class="topic-selection__actions">
        <button
          class="topic-selection__btn-start active-btn"
          (click)="onStartQuiz()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="btn-icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5"
            />
          </svg>
          Begin Challenge
        </button>
      </div>
    </div>
  </div>
</section>
