// Use the new @use rule to import Angular Material theming
@use '@angular/material'as mat;

// Define your custom palettes
$custom-primary-palette: (50: #fde8ec,
  100: #f9c5cf,
  200: #f59eaf,
  300: #f1778f,
  400: #ee5977,
  500: #eb3c5f, // Primary color (347, 77.2%, 49.8%)
  600: #e93657,
  700: #e52e4d,
  800: #e22743,
  900: #dd1a32,
  contrast: (50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$custom-accent-palette: (50: #f5e5f2,
  100: #e6bfe0,
  200: #d694cb,
  300: #c669b6,
  400: #b948a6,
  500: #ad2796, // Accent color (309, 30%, 50%)
  600: #a6238e,
  700: #9c1d83,
  800: #931779,
  900: #830d68,
  contrast: (50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$custom-warn-palette: (50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336, // Warn color (0, 100%, 50%)
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  contrast: (50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: rgba(0, 0, 0, 0.87),
    400: rgba(0, 0, 0, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

// Define the custom palettes using mat.define-palette
$custom-primary: mat.m2-define-palette($custom-primary-palette);
$custom-accent: mat.m2-define-palette($custom-accent-palette);
$custom-warn: mat.m2-define-palette($custom-warn-palette);

// Define the light theme
$custom-light-theme: mat.m2-define-light-theme((color: (primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  ));

// Define the dark theme
$custom-dark-theme: mat.m2-define-dark-theme((color: (primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  ));

// Apply the light theme by default
@include mat.all-component-themes($custom-light-theme);

// Apply the dark theme when the `.dark` class is added to the body
.dark {
  @include mat.all-component-colors($custom-dark-theme);
}

// Customize the snackbar for the light theme
// .mat-mdc-snack-bar-container {
  //   &.light-theme {
  //     --mdc-snackbar-container-color: var(--color-text); // Use primary color for background
  //     --mdc-snackbar-supporting-text-color: var(--color-alt-bg); // Use white text for contrast
  //     --mat-snack-bar-button-color: #e57373;
  //   }
  // }