:root {
  --background: #e2e8f0;
  --foreground: #1e293b;
  --card: #f1f5f9;
  --card-foreground: #0f172a;
  --primary: #e11d48;
  --primary-foreground: #f1f5f9;
  --secondary: #be123c;
  --secondary-foreground: #f1f5f9;
  --muted: #f1f5f9;
  --muted-foreground: #334155;
  --accent: #4f46e5;
  --accent-foreground: #f1f5f9;
  --radius: 0.375rem;

  /* --background: hsl(346, 100%, 97%);
    --foreground: hsl(347, 5%, 0%);
    --card: hsl(0, 0%, 95%);
    --card-foreground: hsl(347, 5%, 10%);
    --popover: hsl(347, 100%, 95%);
    --popover-foreground: hsl(347, 100%, 0%);
    --primary: hsl(347, 77.2%, 49.8%);
    --primary-foreground: hsl(0, 0%, 100%);
    --secondary: hsl(347, 30%, 70%);
    --secondary-foreground: hsl(0, 0%, 0%);
    --muted: hsl(309, 30%, 85%);
    --muted-foreground: hsl(347, 5%, 35%);
    --accent: hsl(309, 30%, 80%);
    --accent-foreground: hsl(347, 5%, 10%);
    --destructive: hsl(0, 100%, 30%);
    --destructive-foreground: hsl(347, 5%, 90%);
    --border: hsl(347, 30%, 50%);
    --input: hsl(347, 30%, 18%);
    
    --radius: 0.375rem; */

  /* sizes  */
  --size-xxs: 0.625rem;
  /* 10px */
  --size-xs: 0.75rem;
  /* 12px */
  --size-sm: 0.875rem;
  /* 14px */
  --size-md: 1rem;
  /* 16px */
  --size-lg: 1.125rem;
  /* 18px */
  --size-xl: 1.25rem;
  /* 20px */
  --size-2xl: 1.5rem;
  /* 24px */
  --size-3xl: 1.875rem;
  /* 30px */
  --size-4xl: 2.25rem;
  /* 36px */
  --size-5xl: 3rem;
  /* 48px */
  --size-6xl: 3.75rem;
  /* 60px */
  --size-7xl: 4.5rem;
  /* 72px */
  --size-8xl: 6rem;
  /* 96px */
  --size-9xl: 8rem;
  /* 128px */
  --size-10xl: 10rem;
  /* 160px */
}

.dark-mode {
  --background: #020617;
  --foreground: #e2e8f0;
  --card: #0f172a;
  --card-foreground: #94a3b8;
  --primary: #e11d48;
  --primary-foreground: #f1f5f9;
  --secondary: #be123c;
  --secondary-foreground: #f1f5f9;
  --muted: #0f172a;
  --muted-foreground: #94a3b8;
  --accent: #4f46e5;
  --accent-foreground: #f1f5f9;
  --radius: 0.375rem;
  --card-button: #020617;
  --card-button-foreground: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

img {
  opacity: 0.8;
}

button {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--primary);
}

strong {
  color: var(--accent);
}

/* Custom Scroll bar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  outline: 1px solid var(--primary);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-evolution-chip-set__chips {
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
